<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{DEFAULT} [%-5level][%t] - %c - %msg%n%throwable"/>
        </Console>
​
        <Console name="RequestConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%msg%n%throwable"/>
        </Console>
​
        <Console name="ResponseConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%msg%n%throwable"/>
        </Console>
​
        <RollingFile name="RollingFile"
                     fileName="/var/seamless/log/subscribersystem/subscribersystem.log" append="true"
                     filePattern="/var/seamless/log/subscribersystem/subscribersystem.log.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] [%X{correlationId}] %-5p [%c{1}] - %X{ersReference} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
​
    <Loggers>
        <Root level="WARN" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Root>
​
        <logger name="org.apache.cxf.services" level="WARN" additivity="false">
            <AppenderRef ref="RollingFile" />
        </logger>
​
        <logger name="com.seamless" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile" />
        </logger>
        <logger name="se.seamless" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile" />
        </logger>
​
    </Loggers>
​
</Configuration>
